* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
}

#app {
    position: relative;
    width: 400px;
    height: 200px;
    background: transparent;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    -webkit-user-drag: none;
}